@model IEnumerable<MVC_HW_191130.Models.MoneyViewModel>

@if (HttpContext.Current.Request.IsAuthenticated)
{
    @Html.Action("CreateMoney")
}

<div id="ajaxPanel">
    @Html.Partial("ListMoney", Model)
</div>

@section Scripts {    
    
   
}