@model MVC_HW_191130.Models.GroupMoneyViewModel

@Html.Partial("CreateMoney")

<div id="ajaxPanel">
    @Html.Partial("ListMoney",Model.ListMoney)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}